<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="./css/style.css">
    <script src="./js/script.js" defer></script>
    <title>{{title}}</title>
</head>

<body>
    <header class="d-flex justify-content-between align-items-center px-3 py-2 bg-info shadow">
        <a href="/" class="d-flex align-items-center text-decoration-none my-2">
            <img src="./images/passport-logo.png" alt="Dream Passport Logo" class="p-1 rounded bg-light shadow" height="70px">
            <div class="ml-3 d-flex flex-column align-items-center">
                <h1 class="text-light my-0">My Dream Passport</h1>
                <p class="text-light my-0 font-italic">Your destination journal and planner</p>
            </div>
        </a>

        {{#if user}}
        <button type="button" class="btn btn-light shadow">Log Out</button>
        {{else}}
        <button type="button" class="btn btn-light shadow">Log In</button>
        {{/if}}

        <nav class="d-flex justify-content-around align-items-center">
            <a href=""><button type="button" class="btn btn-primary shadow">New Destination</button></a>
            <a href=""><button type="button" class="btn btn-primary shadow">Travel History</button></a>
            <a href=""><button type="button" class="btn btn-primary shadow">Places I Want To Go</button></a>
        </nav>
    </header>
    <main>
        {{{body}}}
    </main>
</body>
</html>