{{!-- commented out if loggedIn temporarily so check routes --}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Dream Passport</title>
    <link rel="stylesheet" href="/public/stylesheets/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <header class="d-flex justify-content-between align-items-center px-3 py-2 bg-info shadow">
        <a href="/" class="d-flex align-items-center text-decoration-none my-2">
            <img src="/images/passport-logo.png" alt="Dream Passport Logo" class="p-1 rounded bg-light shadow" height="70px">
            <div class="ml-3 d-flex flex-column align-items-center">
                <h1 class="text-light my-0">My Dream Passport</h1>
                <p class="text-light my-0 font-italic">Your destination journal and planner</p>
            </div>
        </a>

        {{!-- {{#if loggedIn}} --}}
        <a href="/logout"><button id="logout" class="btn btn-light shadow">Log Out</button></a>
        <nav class="d-flex justify-content-around align-items-center">
            <a href="/add-new"><button type="button" class="btn btn-primary shadow">New Destination</button></a>
            <a href="/visited"><button type="button" class="btn btn-primary shadow">Travel History</button></a>
            <a href="/dream"><button type="button" class="btn btn-primary shadow">Places I Want To Go</button></a>
        </nav>

        {{!-- {{else}} --}}
        <a href="/login"><button class="btn btn-light shadow">Get Started!</button></a>
        {{!-- {{/if}} --}}
    </header>
    <main>
        {{{ body }}}
    </main>
      <!-- If the user is logged in, load the JS script for when they logout else load login-->
  {{!-- {{#if loggedIn}} --}}
  <script src="/js/logout.js"></script>
  {{!-- {{else}} --}}
  <script src="/js/login.js"></script>
  {{!-- {{/if}} --}}
</body>
</html>