
    
    <section class="p-3 bg-dark text-light">
      <h2>Submit a new log entry!</h2>
    </section><br><br>

<div class="container justify-space-around-md">
        <h3>Add a trip to my log</h3>
<div class="border border-dark">
        <form class="form form-trip p-4">
            <label for="location">Location:</label>
            <input type="text" id="visited-location"><br>
    
            <label for="date">Date of Departure:</label>
            <input type="date" id="ddate"><br>
            <label for="date">Return Date:</label>
            <input type="date" id="rdate"><br>
    
            <label for="return">Would I travel here again?</label>
            <input id="toggle-yes" name="toggle" type="radio">
            <label for="toggle-yes">Yes</label>
            <input id="toggle-no" name="toggle" type="radio">
            <label for="toggle-no">No</label><br>
    
            <label for="transportation">How did I get there?</label><br>
                <select id="transportation">
                    <option value=""></option>
                    <option value="car">Road Trip</option>
                    <option value="boat">Cruise</option>
                    <option value="plane">Plane</option>
                    <option value="other">Other</option><br>
                </select><br>
    
            <label for="description">How was the trip?:</label>
            <input class="form-control" type="textarea" id="description" name="description"><br>
            <button class="btn btn-info shadow" type="submit">Add</button>
    
        </form>
</div>
<br><br>

    <h3>Add a destination to my dream list</h3>
<div class="border border-dark">
    <form class="form form-dream p-4">
        <label for="location">Location:</label>
        <input type="text" id="dream-location"><br>
    
        <label for="season">Preferred Season:</label>
            <select id="season">
        <option value=""></option>
        <option value="spring">Spring</option>
        <option value="summer">Summer</option>
        <option value="fall">Fall</option>
        <option value="winter">Winter</option>
            </select><br>

        <label for="within-year">Do I plan to travel within the year?</label>
        <input id="toggle-yes" name="toggle" type="radio">
        <label for="toggle-yes">Yes</label>
        <input id="toggle-no" name="toggle" type="radio">
        <label for="toggle-no">No</label><br><br>
        <button class="btn btn-info shadow" type="submit">Add</button>
    
    </form>
    </div>
</div>

<br><br>

</body>
<script src="/js/dreamDest.js"></script>
<script src="/js/visitedDest.js"></script>


