
    <h1>Add a new destination...</h1>
    <section class="p-3 bg-dark">
        <p>Click one of the links below to add an entry to your travel log 
            or keep track of the places you would like to visit!</p>

        <button>I have traveled to this location</button>
        <button>I am dreaming of a vacation</button>
    </section>

        <h1>Add a trip to my log</h1>

        <form class="form form-trip">
            <label for="location">Location:</label>
            <input type="text" id="location"><br>
    
            <label for="date">Date of Departure:</label>
            <input type="date" id="ddate"><br>
            <label for="date">Return Date:</label>
            <input type="date" id="rdate"><br>
    
            <label for="return">Would I travel here again?</label>
            <input id="toggle-yes" name="toggle" type="radio">
            <label for="toggle-yes">Yes</label>
            <input id="toggle-no" name="toggle" type="radio">
            <label for="toggle-no">No</label><br>
    
            <label for="transportation">How did I get there?</label><br>
                <select id="transportation">
                    <option value="car">Road Trip</option>
                    <option value="boat">Cruise</option>
                    <option value="plane">Plane</option>
                    <option value="other">Other</option><br>
                </select>
    
            <label for="description">How was the trip?:</label>
            <input type="textarea" id="description" name="description"><br>
    
        </form>

    <h1>Add a destination to my dream list</h1>

    <form class="form form-dream">
        <label for="location">Location:</label>
        <input type="text" id="location"><br>
    
        <label for="season">Preferred Season:</label>
            <select id="season">
        <option value="spring">Spring</option>
        <option value="summer">Summer</option>
        <option value="fall">Fall</option>
        <option value="winter">Winter</option>
            </select><br>

        <label for="year">Do I plan to travel within the year?</label>
        <input id="toggle-yes" name="toggle" type="radio">
        <label for="toggle-yes">Yes</label>
        <input id="toggle-no" name="toggle" type="radio">
        <label for="toggle-no">No</label><br>
    
    </form>

</body>
</html>


<script src="/js/dreamDest.js"></script>
<script src="/js/visitedDest.js"></script>