{{!-- {{#if loggedIn}} --}}

    <section class="p-3 bg-dark text-light">
      <h2>Places I dream of visiting</h2>
    </section><br>

<article class="p-4">
<!--Answers to dream questions when logged in-->
<div class="log-container">
    <div class="card-header">
        <ul class="dream list-inline">
            <li class="list-inline-item">
                {{> dream-info}}
            </li>
        </ul>
    </div>
</div>
</article>
{{!-- {{else}}
<a href="/login">Please login to view your trip log.</a>
{{/if}} --}}